*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
nav{
    width: 100vw;
    height: 50px;
    position: fixed;
    color: black;   
    font-weight: 800; 
    font-family: 'Playfair Display', serif;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
nav ul a{
    all: unset;
}

nav ul a li{
    /* padding: 15px; */
    margin-top: 15px;
    margin-right: 15px;
}
main{
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('Images/Homepage2.jpg'); */
    background-image: url('Images/Homepage2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-blend-mode: luminosity;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;  
}
main .section{
    width: 80vw;
    height: 80vh;
    background-color: #ffffff5f;
    color: black;
    border-radius: 20px;
    border: 0.2px solid #ffffff3f;
    display: none;
    flex-direction: column;
    margin-top: 30px;
}
.section .indexcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.indexcontainer .title{
    font-size: 1.9rem;
    text-align: center;
    font-weight: 800;
    padding: 10px;
    font-family: 'Playfair Display', serif;
}
.circleimage{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 50%;
    background-color: white;
}
.circleimage img{
    border-radius: 50%;
}
.circletitle{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    font-size: 1rem;
    margin-top: 10px;
}
.circletitle div{
    text-align: center;
    font-weight: 800;
    font-family: 'Merienda One', cursive;
}
.circledesc{
    margin-top: 10px;
    width: 80%;
    height: auto;
}
.circledesc p{
    text-align: center;
    font-weight: 800;
    font-size: 0.7rem;
    font-family: 'Merienda One', cursive;
}
.pagedots{
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
}
.brandtitle, .infratitle, .varietytitle, .producttitle{
    width: 100vw;
    min-height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
.brandtitledesc, .infradesc{
    width: 100vw;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Merienda One', cursive;
}
.brandtitledesc p, .infradesc p{
    font-size: 85%;
}
.brandcontainer{
    width: 100vw;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.brandcard{
    width: 180px;
    height: 290px;
    margin: 10px;
}
.brandcard img{
    border-radius: 20px;
}
.brandimgback{
    width: 180px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brandimgback h2{
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 95%;
}
.gallerycontainer{
    width: 100vw;
    height: 2000px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7C7A7A;
}
.gallery{
    width: 60vw;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% repeat(4, 13%) 22%;
    grid-row-gap: 1%;
    grid-column-gap: 10px;
    padding-top: 10px;
}
@media screen and  (min-width : 320px)  and (max-width: 700px){
    
    .gallery{
        width: 90vw;
    }
    .gallerycontainer{
        width: 100vw;
        height: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.gallery img{
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
}
.img1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.img10{
    grid-column: 1/3;
    grid-row: 6/7;
}

.contactus{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.addresssection{
    width: 50%;
    height: 100%;
    background-color: #494949;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactinfo{
    width: 80%;
    height: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info{
    display: flex;
    width: 100%;
    min-height: 10%;
    padding: 20px;
}
#getdirection{
    width:200px;
    height: 30px;
    margin-left: 50px;
    text-align: center;
    border: 2px solid black;
}
.infoicon img{
    width: 30px;
    height: 30px;
}
.info p{
    min-height: 100%;
    padding-left: 20px;
    padding-top: 5px;
}
.socialmediacontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10%;
    padding: 20px;
}
.socialmediacontainer img{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.contactformsection{
    width: 50%;
    height: 100%;
    background-color: #7C7A7A;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
} 
.contactformsection h2{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.contactform{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.contactform label{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    color: black;
}
.contactform input{
    width: 100%;
    height: 30px;
    all: unset;
    border-bottom: 2px solid white;
}
.contactform button{
    all: unset;
    width: 30%;
    height: 30px;
    margin: 20px 0 20px 0;
    background-color: white;
    color: black;
    text-align: center;
}
.contactform button:hover{
    background-color: black;
    color: white;
}
@media screen and (max-width:700px) {
    .contactus{
        width: 100vw;
        height: 100vh;
        background-color: aqua;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        color: white;
        /* margin-top: 100px; */
    }
    .contactinfo{
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .addresssection{
        width: 100%;
        height: 100%;
        background-color: #494949;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contactformsection{
        width: 100%;
        height: 100%;
        background-color: #7C7A7A;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    } 
    .contactformsection h2{
        width: 100%;
        height: 30px;
        text-align: center;
        margin-top: 20px;
    }
}

.varitiesproductscontainer{
    width: 100vw;
    height: 500px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    background: url('Images/varietybackground1.jpg') no-repeat center center fixed;
    /* background-repeat: no-repeat;
    background-size: cover;
    color: #040303;
    background-blend-mode: luminosity; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.productscontainer{
    width: 100%;
    height: 50px;
}
.productscontainer ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.productscontainer ul li{
    margin-left: 50px;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
}

.varietiescontainer{
    width: 100%;
    height: 350px;
    /* position: relative; */
    font-family: 'Merienda One', cursive;
}
.varietiescontainer ul{
    list-style: none;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.varietiescontainer ul li{
    padding-top: 10px;
    margin-left: 50px;
}
#map {
	height: 100vh;
	width: 100vw;
}

#marker {
    background-image: url('Images/Icons/location.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}






